<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn" internalLogFile="admin_logging_error.txt">
  <targets>
    <target xsi:type="Null" name="blackhole" />
    <target name="db" xsi:type="Database" dbProvider="System.Data.SqlClient" connectionString="Data Source=FIA-SRV-DEV02;Database=FIA_Logs;User Id=sa;password=Pass@123;" commandType="StoredProcedure" commandText="[dbo].[usp_Log_add]">
      <parameter name="@in_logLevel"          layout="${level}" />
      <parameter name="@in_message"           layout="${event-properties:message}" />
      <parameter name="@in_title"             layout="${event-properties:item=title}" />
      <parameter name="@in_modulename"        layout="${event-properties:item=modulename}" />
      <parameter name="@in_stacktrace"        layout="${event-properties:item=stacktrace}" />
      <parameter name="@in_innerexception"    layout="${event-properties:item=innerexception}" />
      <parameter name="@in_apiToken"          layout="${event-properties:item=apitoken}" />
      <parameter name="@in_userToken"         layout="${event-properties:item=usertoken}" />
      <parameter name="@in_applicationName"   layout="${event-properties:item=applicationname}" />
      <parameter name="@in_applicationId"     layout="${event-properties:item=applicationid}" />
      <parameter name="@in_ipAddress"         layout="${event-properties:item=ipaddress}" />
      <parameter name="@in_url"               layout="${event-properties:item=url}" />
      <parameter name="@in_referrerUrl"       layout="${event-properties:item=referrerurl}" />
      <parameter name="@in_headers"           layout="${event-properties:item=headers}" />
      <parameter name="@in_moreInfo"          layout="${event-properties:item=moreinfo}" />
    </target>
  </targets>
  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="NLOG" minlevel="Info" writeTo="db"/>
  </rules>
</nlog>